*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: cornflowerblue;
  font-family: 'Nanum Brush Script', cursive;
  font-size: 50px;
}

p{
  border: 2px solid;
  padding: 15px;
  margin: 20px;
  margin-right: 150px;
}
.yum{
  border-radius: 70px;
  background-color: : #2504C8;
}

h3{
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 800px) {
  *{
    background-color: lightgoldenrodyellow;
    font-family: 'Just Another Hand', cursive;
  }

}@media screen and (max-width: 700px) {
  *{
    background-color: lightseagreen;
    font-family: 'Monoton', cursive;
    font-size: 30px;
  }

}@media screen and (max-width: 600px) {
    *{
      background-color: olivedrab;
      font-family: 'Bahianita', cursive;
    }
